

/* .home-container{
    margin-top: -20px;
} */

.grid-container{
    background-color: rgb(92, 27, 3);
    /* margin-top: 50px; */
    display: grid;
    height: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    grid-template-columns: [first] 1.5fr [line2]3fr [line3]1fr [end];
    grid-template-rows: [first] 10rem [line2] 30rem [line3] 80rem [end];
}

.side-menu{
    margin-top: 2rem;
    position: sticky;
    top: 0;
    height: 90vh;
    box-sizing: border-box;

    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(57, 57, 61);
}

.form{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.feed{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.news{
    margin-top: 2rem;
    position: sticky;
    top: 0;
    height: 90vh;
    box-sizing: border-box;

    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(61, 67, 61);
}