

.feed-container{

    margin-top: 3rem;
    padding: 3rem;

   background-color: black;
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem 1rem;


}